*{
	margin: 0;
	padding: 0;
	font-family: "Space Grotesk";
	font-weight: 500;
}

.project{
	display: flex;
	align-items: center;;
}

.img{
	width: 30%;
	height: 100vh;
}

.img img{
	height: 100vh;
	width: 100%;
}

.card-front{
	background-image: url("./images/bg-card-front.png");
	width: 446px;
	height: 245px;
	position: absolute;
	top: 200px;
	left: 250px;
}

.hOne{
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.name-date{
	display: flex;
	justify-content: space-between;
	margin-left: 42px;
	margin-right: 42px;
	margin-top: 10px;
}

.card-date{
	display: flex;
}

.card-front h1{
	color: white;
	margin-top: 120px;
	letter-spacing: 7.5px;
}

.card-front h3{
	letter-spacing: 2px;
	color: white;
}

.card-back{
	background-image: url("./images/bg-card-back.png");
	width: 446px;
	height: 245px;
	position: absolute;
	top: 500px;
	left: 350px;
}

.cvc-div{
	position: absolute;
	top: 110px;
	left: 350px;
}

.card-back h1{
	color: white;
	font-size: 15px;
	letter-spacing: 3px;
}

.form{
	color: hsl(278, 68%, 11%);
	border-color: red;
	letter-spacing: 3px;
	margin-left: 500px;
	width: 800px;
}


.parent{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    width: 700px;
    }
    

.div1 { grid-area: 1 / 1 / 3 / 5; }
.div2 { grid-area: 3 / 1 / 5 / 5; }
.div3 { grid-area: 5 / 1 / 6 / 3; }
.div4 { grid-area: 5 / 3 / 6 / 5; }
.div5 { grid-area: 6 / 1 / 8 / 2; }
.div6 { grid-area: 6 / 2 / 8 / 3; }
.div7 { grid-area: 6 / 3 / 8 / 5; }
.div8 { grid-area: 8 / 1 / 10 / 5; } 

input{
	border-style: solid;
	border-color: hsl(270, 3%, 87%);
	box-shadow: none;
	border-radius: 8px;
	height: 40px;
	width: 100%;
	margin-top: 5px;
	padding-left: 10px;
	font-size: 15px;
}

input:focus{
	border-color:#8b07f0;
	outline: none;
}

button{
	color: white;
	background-color: hsl(278, 68%, 11%);
	border: 0;
	width: 350px;
	height: 45px;
	border-radius: 8px;
}

button:hover{
	background-color: #3b0366;
}

.red{
	font-size: 11px;
	letter-spacing: 0px;
	color: red;
	margin-top: 0px;
}


.error{
	border-color: red;
}

.hidden{
	display: none;
}

.hero{
	height: 100%;
	margin-left: 500px;
	text-align: center;
}

.hero img{
	margin-bottom: 30px;
}

.hero h1,p,button{
	margin-top: 10px;
}

.hero button{
	margin-top: 30px;
}

.hero h1{
	letter-spacing: 3px;
}

.hero p{
	color: gray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}